@font-face {
    font-family: heading;
    src: url(font/Salt\ Debris.otf);
}

    h2{
        color: blue;
        font-size: 30px;
        font-style: italic;
        font-weight: bolder;
        font-variant: small-caps;
        font-family: heading;
        
    }

    p{
        color: brown;
        text-align: right;
    }