p{
    color: brown;
    background-color: aqua;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold}

    h2{
        color: red;
        font-size: 100px
        
    }